{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Статистика рекламных компаний</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="col">
        <ul class="list-group">
            {% for ad in ads %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">
                <span class="fw-bold">{{ ad.name }}</span>
                <div>
                    <span class="badge bg-secondary">Лидов: {{ ad.leads_count|default:"0" }}</span>
                    <span class="badge bg-success">Клиентов: {{ ad.customers_count|default:"0" }}</span>
                    <span class="badge bg-info">Прибыль: {{ ad.profit|default_if_none:"-" }} руб.</span>
                    <span class="badge bg-warning">Соотношение (доход/расход): {{ ad.ratio|default_if_none:"-" }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}